
@font-face {
    font-family: 'SourceHanSansCN';
    src: url('SourceHanSansCN-Regular.ttf');
    font-weight: normal;
    font-style: normal;
}
@font-face{
  font-family: 'YouSheBiaoTiHei';
  src: url('YouSheBiaTiHei.ttf');
  font-weight: normal;
  font-style: normal;
}
@font-face{
  font-family: 'MyriadPro';
  src:url('MyriadPro-SemiCn-5.otf');
}